@import 'tailwindcss';

@theme {
	--background: 0 0% 13%;
	--foreground: 0 0% 87%;
	--primary: oklch(0.457 0.24 277.023);
}

body {
	background-color: hsl(var(--background));
	color: hsl(var(--foreground));
	font-family: Montserrat, sans-serif;
}

button {
	@apply cursor-pointer rounded-2xl border-gray-500 transition-colors duration-500 hover:border-gray-100;
}

input,
textarea {
	@apply rounded-2xl border-gray-500 transition-colors duration-500 outline-none focus:border-gray-100;
}
